{% extends 'base.html' %}
{% load static %} <!-- Django 3.0 -->
{% block title %}Acknowledge{% endblock %}
{% block customStyleSheet %}
    <link href="{% static 'css/listHover.css' %}" rel="stylesheet">
{% endblock %}
{% block pageHeading %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Acknowledge</h1>
    </div>
{% endblock %}
{% block navItemPagesCollapseMenu2 %}
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
        <i class="fas fa-fw fa-folder"></i>
        <span>Pages</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="{% url 'index' %}">Main Page</a>
                <a class="collapse-item" href="{% url 'castHouseA' %}">CastHouseA Page</a>
            </div>
        </div>
    </li>
{% endblock %}
{% block mainPageContent %}
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6">
            <div class="card shadow mb-4">
                <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                  <h6 class="m-0 font-weight-bold text-primary">Select Order</h6>
                  <p style="color: red !important;">{{ error1 }}</p>
                </a>
                <div class="collapse" id="collapseCardExample">
                    <div class="card-body text-center">
                        <label>Hover to View, Click to Select</label>    
                        <ul id="d">
                            {% for order in orders %}
                                <li class="hoverOver">
                                    <label for="laddle">Order No{{ order.id }}</label>
                                    <input type="radio" id="orders" name="orders" value="{{ order.id }}">
                                    <p>Requested_by:{{ order.requested_by }}<br>Ladles required:{{ order.ladles_required }}<br>Shift:{{ order.shift}}</p>
                                </li>
                            {% endfor %}
                        </ul> 
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Acknowledge Order</h6>
                    <p style="color: red !important;">{{ error2 }}</p>
                </div>
                <div class="card-body text-center">
                    <form class="user" method="POST" id="d1">
                        {% csrf_token %}
                        <label>Acknowledge selected order</label>
                        <br>
                        <div class="form-group">
                            <input type="number" step="1" class="form-control form-control-user" placeholder="Order No" name="order_no" id="order_no" required>
                        </div>
                        <div class="form-group">
                            <input type="number" step="1" class="form-control form-control-user" placeholder="Laddle's Received" name="ladles_received" id="ladles_received" required>
                        </div>                                     
                        <div>
                            <button type="submit" class="btn btn-primary btn-user btn-block">Acknowledge Order</button>
                        </div>
                    <form>       
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block customScripts %}
    <script src="{% static 'js/listHover.js' %}"></script>
{% endblock %}






