{% extends 'base.html' %}
{% load static %} <!-- Django 3.0 -->
{% block title %} Cast House A {% endblock %}
{% block pageHeading %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Cast House A</h1>
    </div>
{% endblock %}
{% block mainPageContent %}
    <div class="row">
        <div class="col-xl-5 col-lg-5 col-md-5 ">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Create Order / Request Tapping</h6>
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Fill the required details</h1>
                        <p style="color: red !important;">{{ error }}</p>
                    </div>
                    <form class="user text-center" method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div>
                            <button type="submit" class="btn-md btn-primary ">Create Order</button>
                        </div>
                        <hr>
                    </form>
                </div>
            </div>
        </div>
    </div>   
{% endblock %}

