{% extends 'base.html' %}
{% load static %}
{% block pageHeading %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h1 mb-0 text-gray-800">Industry 4.0<br>Indoor Positioning System</h1>
    </div>
{% endblock %}
{% block navItemPagesCollapseMenu2 %}
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
        <i class="fas fa-fw fa-folder"></i>
        <span>Pages</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            {% if user.is_authenticated %}
                <a class="collapse-item" href="{% url 'castHouseA' %}">CastHouseA Page</a>
                <a class="collapse-item" href="{% url 'potLineOperator' %}">PotLineOperator Page</a>
                <a class="collapse-item" href="{% url 'potLineTransporter' %}">PotLineTransporter Page</a>
            {% endif %}
        </div>
        </div>
    </li>
{% endblock %}
{% block mainPageContent %}
    <h3 class="h3">It works where GPS fails!</h3><br><br>
    <h5 class="h5"><img style="height:1.5em;width:1.5em;" src="{% static 'images/fast.jpg' %}"> Fast</h3><br>
    <h5 class="h5"><img style="height:1.5em;width:1.5em;" src="{% static 'images/scalable.png' %}"> Scalable</h3><br>
    <h5 class="h5"><img style="height:1.5em;width:1.5em;" src="{% static 'images/maintenance.jpg' %}"> Less Maintenance</h3><br>
{% endblock %}