{% extends 'base.html'%}
{% load static %} <!-- Django 3.0 -->
{% block title %}Pot Line Operator{% endblock %}
{% block pageHeading %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Pot Line Operator</h1>
    </div>
{% endblock %}
{% block customStyleSheet %}
    <link href="{% static 'css/listHover.css' %}" rel="stylesheet">
{% endblock %}
{% block mainPageContent %}
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6">
            <div class="card shadow mb-4">
                <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                  <h6 class="m-0 font-weight-bold text-primary">Select Order</h6>
                  <p style="color: red !important;">{{ error1 }}</p>
                </a>
                <div class="collapse" id="collapseCardExample">
                    <div class="card-body text-center">
                        <label>Hover to View, Click to Select</label>    
                        <ul id="d">
                            {% for order in orders %}
                                <li class="hoverOver">
                                    <label for="laddle">Order No{{ order.id }}</label>
                                    <input type="radio" id="orders" name="orders" value="{{ order.id }}">
                                    <p>Requested_by:{{ order.requested_by }}<br>Ladles required:{{ order.ladles_required }}<br>Shift:{{ order.shift}}</p>
                                </li>
                            {% endfor %}
                        </ul> 
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Generate the Tapping Schedule</h6>
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Fill the required details</h1>
                        <p style="color: red !important;">{{ error2 }}</p>
                        <p style="color: red !important;">Current Time: {{ time }}</p>
                    </div>
                    <form class="user text-center" method="POST" id="d1">
                        {% csrf_token %}
                        <label>Order id:</label>
                        <input type="number" step="1" name="order_no" id="order_no">  
                        {{ form.as_p }} 
                        <div>
                            <button type="submit" class="btn-md btn-primary ">Submit</button>
                        </div>
                        <hr>
                    </form>
                </div>
            </div>
        </div>
    </div>   
{% endblock %}
{% block customScripts %}
    <script src="{% static 'js/listHover.js' %}"></script>
{% endblock %}
