@media (min-width: 576px) {
    
}
@media (min-width: 768px){
    #content-wrapper{
        background-image: url("https://www.indooratlas.com/wp-content/uploads/2018/03/hero_technology.svg") !important;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: right;
        background-size: 28em;
    }
}
@media (min-width: 992px) {
    #content-wrapper{
        background-image: url("https://www.indooratlas.com/wp-content/uploads/2018/03/hero_technology.svg") !important;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: right;
        background-size: 40em;
    }
}
@media (min-width: 1295px) {
    #content-wrapper{
        background-image: url("https://www.indooratlas.com/wp-content/uploads/2018/03/hero_technology.svg") !important;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: right;
        background-size: 65em;
    }
}