ul { 
    list-style-type: none;
}
.hoverOver {
    transform: scale(1);
    z-index: 100;
    box-shadow: 0 10px 50px rgba(0,0,0,.5);
    border-radius: 2em;
    color: white !important;
    padding: 2em;
    margin-right:0;
    cursor: grab;
}